extends layout

block content
  h1 Edit #{puppy.name}
  form
    label(for="name") Name: 
    input(type="text" id="name" name="name" value=puppy.name)
    label(for="breed") Breed: 
    input(type="text" id="breed" name="breed" value=puppy.breed)
    input(type="hidden" id="id" value=puppy.id)
    button.editButton(type="button") Update
    button.deleteButton(type="button") Delete
  a(href="/puppies/") home
