extends layout

block content
  h1 New Puppy
  form(action="/puppies/new" method="POST")
    label(for="name") Name: 
    input(type="text" id="name" name="name")
    label(for="breed") Breed: 
    input(type="text" id="breed" name="breed")
    button(type="submit") Add
  a(href="/puppies/") home
